<h1 style="text-align: center;">Carrito</h1>
<article>
  <table>
    <tr>
      <th>Producto</th>
      <th>Precio</th>
      <th>Stock</th>
      <th>Quantity</th>
    </tr>
    <tbody>
      {{#each products}}
        <tr>
          <td>{{this.product.title}}</td>
          <td>{{this.product.price}}</td>
          <td>{{this.product.stock}}</td>
          <td>{{this.quantity}}</td>
          <td><button
              onclick="removeFromCart('{{this.product._id}}')"
            >Quitar</button></td>
        </tr>
      {{/each}}
    </tbody>
  </table>
  <a href="/products" role="button">Volver</a>
  <button id="purchase" style="width: 200px;">Confirmar Compra</a>

</article>

<script src="/js/cart.js"></script>