<h1 style="text-align: center;">Productos</h1>
<h2>Bienvenido {{user.fullname}}</h2>
<h4>Role: {{user.role}}{{#unless user.role}}Usuario{{/unless}}</h4>
<a href="./profile" role="button">Perfil</a>
<a href="./cart" role="button">Carrito</a>
<a href="./admin" role="button">Admin Panel</a>
<button style="width: 150px;" id="logout">Logout</button>
<article>
  <table>
    <tr>
      <th>Producto</th>
      <th>Categoria</th>
      <th>Precio</th>
      <th>Stock</th>
      <th>Estado</th>
      <th></th>
    </tr>
    <tbody>
      {{#each payload}}
        <tr>
          <td>{{this.title}}</td>
          <td>{{this.category}}</td>
          <td>USD {{this.price}}</td>
          <td>{{this.stock}}</td>
          <td>{{this.status}}</td>
          <td><button onclick="addToCart('{{this._id}}')">Agregar al carrito</button></td>
        </tr>
      {{/each}}
    </tbody>
  </table>
  <div style="width: 500px; display:flex;flex-direction:column; gap:5px">
    <p>Pagina Actual: {{page}}</p>
  <a href="{{prevLink}}" role="button" {{#unless hasPrevPage}}disabled{{/unless}}>Anterior</a>
  <a href="{{nextLink}}" role="button" {{#unless hasNextPage}}disabled{{/unless}}>Siguiente</a>
  <div style="display: flex;"><select name="categories" id="categories">
    <option value="" disabled selected>Categorias</option>
    <option value="all">Todos</option>
    <option value="category1">Categoria 1</option>
    <option value="category2">Categoria 2</option>
  </select>
  <select name="status" id="status">
    <option value="" disabled selected>Estado</option>
    <option value="all">Todos</option>
    <option value="true">Disponible</option>
    <option value="false">No Disponible</option>
  </select>
  <select name="sort" id="sort">
    <option value="" disabled selected>Orden por precio</option>
    <option value="unordered">Sin orden</option>
    <option value="asc">ASC</option>
    <option value="desc">DESC</option>
  </select></div>
  
  
  </div>
  
  
</article>

<script src="/js/products.js"></script>